<%= render "users/user_navbar", user: current_user %>
<h3>Followers</h3>
<ul class="list-group">
  <% @user.followers.each do |follower| %>
  <li class="list-group-item"><a href="/<%=follower.username%>"><%= follower.username %></a></li>
  <% end %>
</ul>
